mixin service(type='build')
  .col-4.col-md-6.col-xs-12.serbox(class=type)
    .service__item
      .service__item--top 
        .img 
          <svg width="49" height="70" viewBox="0 0 49 70" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.93071 21.8019C9.25692 29.8485 15.6996 41.2116 24.5074 41.2116C33.1657 41.2116 39.5404 30.2291 40.0569 22.2097C42.3948 22.1689 43.4414 21.068 43.9171 19.7903C44.4064 18.4718 44.3928 16.5553 42.0822 15.0058C40.7229 6.40194 33.2744 0 24.5074 0C15.7404 0 8.29188 6.40194 6.93265 14.9922C6.70158 15.1417 4.78508 16.3243 5.34236 18.7437C6.00838 21.6796 9.13459 21.8427 8.93071 21.8019ZM24.5074 38.9825C17.7249 38.9825 11.6899 29.8349 11.187 22.1553C15.5094 22.7534 20.3482 23.0252 25.1191 23.0252C29.5637 23.0252 33.9404 22.8078 37.8006 22.4408C37.189 30.0524 31.2084 38.9825 24.5074 38.9825ZM28.9657 2.88155V5.57281C28.9657 8.03301 26.9676 10.0311 24.5074 10.0311C22.0472 10.0311 20.0492 8.01942 20.0492 5.57281V2.88155C21.4627 2.46019 22.9579 2.22913 24.5074 2.22913C26.0569 2.22913 27.5521 2.46019 28.9657 2.88155ZM8.9579 16.6369C8.9579 16.6369 9.46081 7.61165 17.8336 3.75146V5.57281C17.8336 9.25631 20.8375 12.2602 24.521 12.2602C28.2045 12.2602 31.2084 9.25631 31.2084 5.57281V3.75146C39.7715 8.12815 40.0841 16.6369 40.0841 16.6369C40.0841 16.6369 41.022 16.6777 41.5793 17.4524C42.5443 18.7845 41.4977 19.7903 40.7909 19.8718C31.8336 20.9864 18.4996 21.3126 8.87634 19.532C8.06081 19.3825 7.59867 18.7573 7.53071 18.2544C7.27246 16.7728 8.9579 16.6369 8.9579 16.6369Z" fill="#FF8900"/><path d="M36.101 37.3112C36.101 37.3112 31.1534 43.4277 24.5068 43.4277C17.7379 43.4277 12.9126 37.3112 12.9126 37.3112C12.9126 37.3112 0.285437 42.1092 0 56.7888V69.049H49V56.8024C49.0136 42.2587 36.101 37.3112 36.101 37.3112ZM37.868 57.917V66.8199H11.1456V57.917H37.868ZM24.5068 45.6568C28.3806 45.6568 32.268 43.9849 35.6388 40.9267V55.6879H13.3748V40.9267C16.7456 43.9849 20.633 45.6568 24.5068 45.6568ZM2.22913 56.8024C2.22913 50.2781 5.66796 44.2024 11.132 40.7772V55.7014H8.90291V66.8335H2.22913V56.8024ZM46.7845 66.8199H40.0971V55.6879H37.868V40.7636C43.3456 44.2024 46.7709 50.2646 46.7709 56.7888V66.8199H46.7845Z" fill="#FF8900"/></svg>
        .title Ремонт в новостройках
      .service__item--text 
        | Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, conctetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse 
      a.service__item--more(href="#") Прочитайте больше

mixin gal(type='all')
  .col-4.col-md-4.col-xs-12.galbox(class=type)
    .gallery__item(style='background-image:url(assets/img/project.jpg)')
      .gallery__caption 
        .title Многоэтажный жилой комплекс <span>“QUVASOY”</span>
        a.btn.more(href="#") Подробнее

mixin mgal
  .gallery__box.splide__slide
    .gallery__item(style='background-image:url(assets/img/project.jpg)')
      .gallery__caption 
        .title Многоэтажный жилой комплекс <span>“QUVASOY”</span>
        a.btn.more(href="#") Подробнее

mixin head(title='404 ERROR',text='',bold='')
  .head(style='background-image:url(assets/img/head1.jpg)')
    ul.breadcrumbs 
        li: a(href="index.html")  Главная
        li #{title}
    .text 
      .t #{text}
      .b #{bold}

mixin worker
  .team__item(style='background-image:url(assets/img/spec1.jpg)')
    .team__caption 
      .who ОХУНЖАН АХУНОВ
      .lvl Директор
